/*
Uso das fonts
font-family: 'Iceland', cursive;
font-family: 'Play', sans-serif;
font-family: 'Poppins', sans-serif;
*/

:root {
    --clr-neon: hsl(317 100% 54%):
    --clr-bg: hsl(323 21% 16%);
}

.bold{
    font-weight: bold;
}

.texto-azul {
    color: #346CDA;
}

.texto-gradiente {
    background: linear-gradient(180deg,#3b82f6, #9134DA);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    display: inline;
}

.texto-paragrafo-primario-xl {
    font-family: 'Poppins', sans-serif;
    font-size: 2.53rem;
    line-height: 1.2;
}

.texto-paragrafo-primario-md {
    font-family: 'Poppins', sans-serif;
    font-size: 1.8rem;
    line-height: 1.2;

}
.texto-paragrafo-primario {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    line-height: 1.2;
}

.texto-paragrafo-primario-sm {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    line-height: 1.2;
}

.titulo-l {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 10vh;
}

.titulo-m {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 8vh;
}

.titulo-s {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 6vh;
}

.titulo-sl {
    font-family: 'Play', sans-serif;
    font-weight: bold;
    font-size: 4vh;
}

.titulo-paragrafo-secundario {
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
}

.subtitulo-m {
    font-family: 'Iceland', cursive;
    font-size: 4vh;
    line-height: 1.2;
}

.subtitulo-s {
    font-family: 'Iceland', cursive;
    font-size: 3vh;
    line-height: 1;
}

