
.icon-leetcode:before { content: '\e800'; } /* '' */
.icon-adobexd:before { content: '\e801'; } /* '' */
.icon-postgresql:before { content: '\e802'; } /* '' */
.icon-php:before { content: '\e803'; } /* '' */
